
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

p {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

form {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

label {
    display: block; 
    margin-bottom: 10px;
    color: #555; 
}

input[type="text"],
input[type="password"] {
    width: 100%; 
    padding: 10px;
    margin-bottom: 20px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    transition: border-color 0.3s; 
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007BFF; 
    outline: none;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button[type="reset"] {
    background-color: #f44336;
    color: white;
    }

button[type="reset"]:hover {
    background-color: #d32f2f; 
}

button[type="submit"] {
    background-color: #007BFF; 
    color: white; 
}

button[type="submit"]:hover {
    background-color: #0056b3; 
}